<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
        <%if (errorMessage){%>
            <div class="user-message erro-user--message">
                <%= errorMessage %>
            </div>
        <% } %>
    <main>
        <form class="login-form" action="/reset" method="POST">
            <div class="form-control">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email">
            </div>
            <button class="btn" type="submit">Reset Password</button>
            
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" >
        </form>
    </main>
<%- include('../includes/end.ejs') %>